@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600|Orbitron");
.nav-fixer {
  display: flex;
  justify-content: space-evenly; }

.encounterGeneratorFlexTop, .encounterGeneratorFlexBottom {
  display: flex;
  justify-content: center;
  border: 2px solid #3a3a3a;
  margin: auto;
  width: 90%; }
  .encounterGeneratorFlexTop h3, .encounterGeneratorFlexBottom h3 {
    font-size: 15px; }

.encounterGeneratorFlexTop div, .encounterGeneratorFlexBottom div {
  border-left: 2px solid #3a3a3a;
  border-right: 2px solid #3a3a3a;
  text-align: center;
  font-weight: bold;
  width: 8%;
  min-height: 30px; }

.nav-fixer {
  list-style: none; }
  .nav-fixer li {
    color: #8ac6ef;
    background: #3a3a3a;
    border: 2px solid #3a3a3a;
    text-align: center;
    width: 220px;
    padding: 25px 0px; }

.enemyName {
  width: 25% !important; }

.enemyFaction {
  width: 15% !important; }

.enemyArmaments {
  width: 40% !important; }
