@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600|Orbitron");
.nav-flexer {
  display: flex;
  justify-content: space-around; }

.nav-flexer ul {
  display: flex;
  justify-content: space-evenly; }

.nav-flexer {
  background-color: #3a3a3a; }
  .nav-flexer a:hover {
    color: #8ac6ef;
    text-decoration: none; }
  .nav-flexer .app-title {
    font-family: "Orbitron", sans-serif;
    text-align: center;
    margin: 0;
    padding: 28px 0px; }
  .nav-flexer ul {
    list-style: none;
    padding: 0; }
    .nav-flexer ul a {
      padding: 10px 20px;
      line-height: 160%; }
