@import "variables";

body {
  margin: 0 auto;
  padding: 0;
  background-color: #f6f6f6;
  font-family: "Montserrat", sans-serif;
}

a,
a:visited {
  text-decoration: none;
  font-weight: normal;
  color: #fff;

  &:link {
    color: $dark-gray;
  }

  &:hover {
    color: $light-blue;
    text-decoration: underline;
  }
}

@media screen and (max-width: 414px) {
  body {
    width: 100vh;
  }
}
