@import "variables";

.lore-splash {
  display: block;
  max-height: 250px;
  min-height: 175px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.loreganizer {
  padding: 40px;
  a {
    font-weight: bold;
    color: $dark-gray;
  }
  a:hover {
    text-decoration: none;
    cursor: pointer;
  }
}
