@import "variables";

.lore-container {
  padding-top: 80px;
}

.lore-splash {
  display: block;
  max-height: 250px;
  min-height: 175px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.loreganizer {
  padding: 40px 120px;

  a {
    font-weight: bold;
    color: $dark-gray;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

  p {
    line-height: 1.6;
  }
}
