@import "variables";

.lore-container {
  padding-top: 80px;

  select {
    margin: 20px 10vw 0 0;
    height: 25px;
    width: 225px;
    float: right;
    background-color: $lighter-gray;
    border: 2px solid $dark-gray;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 14px;

    &:focus {
      outline: none;
      border: 2px solid $light-blue;
    }

    &:hover {
      border: 2px solid $light-blue;
    }
  }
}

.lore-splash {
  display: block;
  max-height: 250px;
  min-height: 175px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.loreganizer {
  padding: 50px 10vw;

  a {
    font-weight: bold;
    color: $dark-gray;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

  p {
    line-height: 1.8;
  }
}
