@import "variables";

.nav-flexer {
  @extend %flex-around;
  background-color: $dark-gray;

  a:hover {
    color: $light-blue;
    text-decoration: none;
  }

  .app-title {
    font-family: "Orbitron", sans-serif;
    text-align: center;
    margin: 0;
    padding: 28px 0px;
  }

  ul {
    @extend %flex-evenly;
    list-style: none;
    padding: 0;

    a {
      padding: 10px 20px;
      line-height: 160%;
    }
  }
}
