@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600|Orbitron");
.results-flex {
  display: flex;
  justify-content: center; }

.next-button, .disabled-button {
  padding: 20px;
  text-align: center; }
  .next-button button, .disabled-button button {
    background-color: #3a3a3a;
    color: #d7d7d7;
    border: 2px solid #d7d7d7;
    font-size: 15px;
    width: 150px;
    height: 50px; }

.character-splash {
  display: block;
  height: auto;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.char-questions {
  padding: 30px 3%;
  line-height: 1.5; }
  .char-questions a {
    font-weight: bold; }

.question-block label {
  margin-left: 50px;
  display: block; }

.question-block img {
  float: left;
  padding: 5px;
  border: 2px solid #3a3a3a; }

.race-questions p {
  min-height: 150px; }

.race-questions label {
  margin-left: 250px; }

.race-questions .radio-selector {
  margin-top: 50px; }

.radio-selector {
  float: left;
  width: 24px;
  height: 24px;
  position: relative; }

.next-button button:hover {
  color: #8ac6ef;
  border: 3px solid #8ac6ef;
  cursor: pointer; }

.disabled-button button {
  opacity: 0.6;
  cursor: not-allowed; }

.desc-intro {
  padding: 40px 0 0 20%; }

.desc-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 60%;
  padding: 5px 10px 15px 10px;
  box-sizing: border-box;
  border: 3px solid #bdbdbd;
  font-size: 14px;
  overflow-y: scroll; }

.desc-input:focus {
  border: 3px solid #8ac6ef; }

.desc-counter {
  text-align: right;
  margin: 0 25% 0 0; }

.results-flex img {
  height: 206px;
  width: 300px;
  padding: 5px;
  margin: 20px 40px 0px 0px;
  border: 2px solid #3a3a3a; }

.results-info {
  max-width: 55%;
  line-height: 1.5; }
  .results-info h2 {
    text-transform: uppercase;
    margin: 0 0 15px; }
  .results-info p {
    margin: 8px 0; }
