.character-container {
  padding: 0 10%; }
  .character-container h1 {
    text-align: center; }
  .character-container ol li {
    padding: 3px; }

.q-four ul {
  list-style: none; }

.q-four ul li {
  padding: 3px; }
