@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600|Orbitron");
.results-flex {
  display: flex;
  justify-content: space-evenly; }

.character-splash {
  display: block;
  height: auto;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.char-questions {
  padding: 30px 3%;
  line-height: 1.5; }
  .char-questions a {
    font-weight: bold; }

.question-block label {
  margin-left: 50px;
  display: block; }

.question-block img {
  float: left;
  padding: 5px;
  border: 2px solid #3a3a3a; }

.race-questions p {
  min-height: 150px; }

.race-questions label {
  margin-left: 250px; }

.race-questions .radio-selector {
  margin-top: 50px; }

.radio-selector {
  float: left;
  width: 24px;
  height: 24px;
  position: relative; }

.next-button {
  padding: 20px;
  text-align: center; }
  .next-button button {
    background-color: #3a3a3a;
    color: #d7d7d7;
    border: 2px solid #d7d7d7;
    font-size: 15px;
    width: 150px;
    height: 50px; }
  .next-button button:hover {
    color: #8ac6ef;
    border: 3px solid #8ac6ef;
    cursor: pointer; }

.disabled-button {
  padding: 20px;
  text-align: center; }
  .disabled-button button {
    background-color: #3a3a3a;
    color: #d7d7d7;
    opacity: 0.6;
    border: 2px solid #d7d7d7;
    font-size: 15px;
    width: 150px;
    height: 50px;
    cursor: not-allowed; }

.results-flex img {
  padding: 45px 5px;
  border: 2px solid #3a3a3a; }
