@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600|Orbitron");
.nav-flexer {
  display: flex;
  justify-content: space-between; }

.nav-flexer ul {
  display: flex;
  justify-content: space-evenly; }

a {
  text-decoration: none; }

.app-title {
  font-family: "Orbitron", sans-serif;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 25px 0px 25px 40px; }

.app-title:hover {
  color: #8ac6ef; }

.nav-flexer {
  background-color: #3a3a3a; }
  .nav-flexer ul {
    list-style: none;
    color: #d7d7d7; }
  .nav-flexer ul a {
    color: #fff;
    padding: 10px 20px;
    line-height: 160%; }
  .nav-flexer a:hover {
    color: #8ac6ef; }
