@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600|Orbitron");
.home-flex {
  display: flex;
  justify-content: space-between; }

.cityscape-flex, .linx-flex, .selling-points {
  display: flex;
  justify-content: space-evenly; }

.home-flex, .lore-blurb {
  background-repeat: no-repeat;
  background-position: center; }

.home-flex {
  background-image: url("../../assets/homesplash.png");
  background-size: 1500px auto;
  height: 520px; }

.home-login {
  background: #3a3a3a;
  color: #d7d7d7;
  width: 300px;
  height: 320px;
  padding: 5px;
  margin: 80px 40px;
  text-align: center; }
  .home-login p {
    padding: 0px 12px; }
  .home-login button {
    background-color: #a8a8a8;
    color: #fff;
    border-radius: 3px;
    font-size: 18px;
    padding: 10px 30px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s; }
  .home-login button:hover {
    color: #8ac6ef;
    background-color: #696969;
    -webkit-box-shadow: 0px 0px 0px 3px #8ac6ef;
    -moz-box-shadow: 0px 0px 0px 3px #8ac6ef;
    box-shadow: 0px 0px 0px 3px #8ac6ef; }
  .home-login img {
    padding: 10px; }

.descriptor {
  background: rgba(58, 58, 58, 0.5);
  color: #d7d7d7;
  width: 400px;
  height: 250px;
  padding: 10px 0px 10px 10px;
  margin: 100px 20px; }
  .descriptor h2 {
    padding-left: 8px;
    font-family: "Montserrat", sans-serif; }
  .descriptor p {
    padding-left: 8px;
    line-height: 1.5; }

.section-two h2 {
  padding: 10px 0;
  text-align: center; }

.cityscape {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden; }

.cityscape-flex div {
  padding: 40px; }

.cityscape-flex p {
  font-size: 14px; }

.cityscape-descriptor {
  width: 60%;
  line-height: 1.5;
  font-size: 14px; }

.linx {
  background: #3a3a3a;
  color: #d7d7d7;
  text-align: center;
  padding-bottom: 20px; }
  .linx h2 {
    padding-top: 20px; }

.linx-flex {
  margin-bottom: 30px; }
  .linx-flex div {
    width: 25%;
    background: #bdbdbd;
    text-align: center; }
  .linx-flex img {
    max-height: 100%;
    max-width: 100%; }

.sci-fi-armory,
.arthrotera-alien,
.mercenaries {
  position: relative;
  height: 480px;
  width: 320px !important;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s; }
  .sci-fi-armory p,
  .arthrotera-alien p,
  .mercenaries p {
    background: rgba(58, 58, 58, 0.65);
    color: #d7d7d7;
    width: 320px;
    height: 80px;
    position: absolute;
    bottom: -18px;
    font-size: 18px;
    line-height: 80px; }

.sci-fi-armory:hover,
.arthrotera-alien:hover,
.mercenaries:hover {
  -webkit-box-shadow: 0px 0px 0px 3px #8ac6ef;
  -moz-box-shadow: 0px 0px 0px 3px #8ac6ef;
  box-shadow: 0px 0px 0px 3px #8ac6ef; }

.selling-points {
  color: #3a3a3a; }
  .selling-points h2 {
    text-align: center;
    font-size: 20px; }
  .selling-points p {
    font-size: 14px;
    line-height: 1.5; }

.sell-point-div {
  max-width: 20%;
  padding: 40px 20px 20px; }

.fontawesome-center {
  text-align: center;
  max-width: 100% !important; }

.lore-blurb {
  background-image: url("../../assets/foresttakeoff.png");
  background-size: 1500px auto;
  color: #fff;
  height: 500px;
  width: auto;
  padding: 30px; }
  .lore-blurb h2 {
    margin: 0 auto; }
  .lore-blurb p {
    font-size: 14px;
    line-height: 1.75;
    width: 615px; }

.home-footer {
  background: #3a3a3a;
  color: #d7d7d7;
  padding: 20px 0;
  text-align: center; }
  .home-footer p {
    margin: 0 auto; }
