@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600|Orbitron");
.home-flex {
  display: flex;
  justify-content: space-between; }

.cityscape-flex, .linx-flex {
  display: flex;
  justify-content: space-evenly; }

.home-flex, .lore-blurb {
  background-repeat: no-repeat;
  background-position: center; }

.home-flex {
  background-image: url("../../assets/homesplash.png");
  background-size: 1500px auto;
  height: 520px; }

.home-login {
  background: #3a3a3a;
  color: #d7d7d7; }

.descriptor {
  background: rgba(58, 58, 58, 0.5);
  color: #d7d7d7;
  width: 400px;
  height: 250px;
  padding: 5px;
  margin: 100px 20px; }
  .descriptor h2 {
    padding-left: 8px;
    font-family: "Montserrat", sans-serif; }
  .descriptor p {
    padding-left: 8px;
    line-height: 1.5; }

.section-two h2 {
  padding-top: 20px;
  text-align: center; }

.cityscape {
  display: block;
  width: 1280px;
  margin: 0 auto;
  overflow: hidden; }

.cityscape-flex div {
  padding: 40px; }

.cityscape-descriptor {
  width: 60%; }

.linx {
  background: #3a3a3a;
  color: #d7d7d7;
  text-align: center;
  padding-bottom: 20px; }
  .linx h2 {
    padding-top: 20px; }

.linx-flex {
  margin-bottom: 30px; }
  .linx-flex div {
    width: 25%;
    background: #bdbdbd;
    border: 3px solid #8ac6ef;
    text-align: center; }
  .linx-flex img {
    max-height: 100%;
    max-width: 100%; }

.sci-fi-armory,
.arthrotera-alien,
.mercenaries {
  position: relative;
  height: 480px;
  width: 320px !important; }
  .sci-fi-armory p,
  .arthrotera-alien p,
  .mercenaries p {
    background: rgba(58, 58, 58, 0.5);
    color: #d7d7d7;
    width: 320px;
    height: 80px;
    position: absolute;
    bottom: -18px;
    font-size: 18px;
    line-height: 80px; }

.lore-blurb {
  background-image: url("../../assets/spaceshiptakeoff.jpg");
  background-size: 1300px auto;
  color: #fff;
  height: 500px;
  width: auto;
  padding: 60px 30px; }
  .lore-blurb h2 {
    margin: 0 auto; }
  .lore-blurb p {
    line-height: 1.5;
    width: 50%; }

.home-footer {
  background: #3a3a3a;
  color: #d7d7d7;
  padding: 20px 0;
  text-align: center; }
  .home-footer p {
    margin: 0 auto; }
