@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600|Orbitron");
.weaponGeneratorFlexTop, .weaponGeneratorFlexBottom {
  display: flex;
  justify-content: center;
  border: 2px solid #3a3a3a;
  margin: auto;
  width: 90%; }
  .weaponGeneratorFlexTop h3, .weaponGeneratorFlexBottom h3 {
    font-size: 15px; }

.weaponGeneratorFlexTop div, .weaponGeneratorFlexBottom div {
  border-left: 2px solid #3a3a3a;
  border-right: 2px solid #3a3a3a;
  text-align: center;
  font-weight: bold;
  width: 8%;
  min-height: 30px; }

.weaponGeneratorFlexBottom div {
  line-height: 2; }

#weaponName {
  width: 20%; }

#weaponOther {
  line-height: normal;
  text-align: left;
  padding: 0 5px;
  width: 32%; }

#weaponOtherBox {
  line-height: 1.5;
  text-align: left;
  padding: 0 5px;
  width: 32%; }
