.weaponGeneratorFlexTop, .weaponGeneratorFlexBottom {
  display: flex;
  justify-content: center;
  border: 3px solid #8ac6ef;
  background-color: #8a8a8a;
  margin: auto;
  width: 80%; }

.weaponGeneratorFlexTop div {
  border-left: 3px solid #8ac6ef;
  border-right: 3px solid #8ac6ef;
  text-align: center;
  font-weight: bold;
  width: 10%;
  min-height: 60px; }

.weaponGeneratorFlexBottom div {
  border-left: 3px solid #8ac6ef;
  border-right: 3px solid #8ac6ef;
  text-align: center;
  font-weight: bold;
  width: 10%;
  min-height: 60px; }

#weaponName {
  width: 20%; }

#weaponOther {
  text-align: left;
  padding: 0px 5px;
  width: 30%; }
