@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600|Orbitron");
$my-blue: #8ac6ef;
$my-background: #3a3a3a;
$transparent-background: rgba(58, 58, 58, 0.5);
$transparent-overlay: rgba(58, 58, 58, 0.65);
$my-text: #d7d7d7;
$light-background: #bdbdbd;
$my-font: 14px;
$grid-border: 3px solid $my-blue;
%flex-between {
  display: flex;
  justify-content: space-between;
}
%flex-evenly {
  display: flex;
  justify-content: space-evenly;
}
%background-setter {
  background-repeat: no-repeat;
  background-position: center;
}
%grid-builder {
  display: flex;
  justify-content: center;
  border: $grid-border;
  background-color: $light-background;
  margin: auto;
  width: 80%;
}
%grid-div-builder {
  border-left: $grid-border;
  border-right: $grid-border;
  text-align: center;
  font-weight: bold;
  width: 10%;
  min-height: 60px;
}
@mixin hover-border($color) {
  -webkit-box-shadow: 0px 0px 0px 3px $color;
  -moz-box-shadow: 0px 0px 0px 3px $color;
  box-shadow: 0px 0px 0px 3px $color;
}
@mixin transition($time) {
  -webkit-transition-duration: $time;
  -moz-transition-duration: $time;
  transition-duration: $time;
}
