$list-padding: 3px;

.character-container {
  padding: 0 10%;
  h1 {
    text-align: center;
  }
  ol li {
    padding: $list-padding;
  }
}

.q-four {
  ul {
    list-style: none;
  }
  ul li {
    padding: $list-padding;
  }
}
