@import "variables";

.character-splash {
  display: block;
  width: 1265px;
  margin: 0 auto;
  overflow: hidden;
}

.char-questions {
  padding: 30px 3%;
  line-height: 1.5;
  ol li {
    padding: $list-padding;
  }
}

.next-button {
  padding: 20px;
  text-align: center;
  button {
    background-color: $my-background;
    color: $my-text;
    border: 2px solid $my-text;
    font-size: 15px;
    width: 150px;
    height: 50px;
  }
  button:hover {
    color: $my-blue;
    border: $grid-border;
    cursor: pointer;
  }
}

.q-four {
  ul {
    list-style: none;
  }
  ul li {
    padding: $list-padding;
  }
}
