@import "variables";

.character-splash {
  display: block;
  height: auto;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.char-questions {
  padding: 30px 3%;
  line-height: 1.5;
  a {
    font-weight: bold;
  }
}

.question-block {
  label {
    margin-left: 50px;
    display: block;
  }
  img {
    float: left;
    padding: 5px;
    border: 2px solid $my-background;
  }
}

.race-questions {
  p {
    min-height: 150px;
  }
  label {
    margin-left: 250px;
  }
  .radio-selector {
    margin-top: 50px;
  }
}

.radio-selector {
  float: left;
  width: 24px;
  height: 24px;
  position: relative;
}

.next-button {
  padding: 20px;
  text-align: center;
  button {
    background-color: $my-background;
    color: $my-text;
    border: 2px solid $my-text;
    font-size: 15px;
    width: 150px;
    height: 50px;
  }
  button:hover {
    color: $my-blue;
    border: $grid-border;
    cursor: pointer;
  }
}

.disabled-button {
  padding: 20px;
  text-align: center;
  button {
    background-color: $my-background;
    color: $my-text;
    opacity: 0.6;
    border: 2px solid $my-text;
    font-size: 15px;
    width: 150px;
    height: 50px;
    cursor: not-allowed;
  }
}
