@import "variables";

.nav-fixer {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  li {
    color: $my-blue;
    background: $my-background;
    border: $grid-border;
    text-align: center;
    width: 220px;
    padding: 25px 0px;
  }
}

.encounterGeneratorFlexTop {
  @extend %grid-builder;
  div {
    @extend %grid-div-builder;
  }
}

.encounterGeneratorFlexBottom {
  @extend %grid-builder;
  div {
    @extend %grid-div-builder;
  }
}

.enemyName {
  width: 25% !important;
}

.enemyFaction {
  width: 15% !important;
}

.enemyArmaments {
  width: 40% !important;
}
