@import "variables";

a {
  text-decoration: none;
}

.app-title {
  font-family: "Orbitron", sans-serif;
  text-align: center;
  color: $my-blue;
  margin: 0;
  padding: 25px 0px 25px 40px;
}

.nav-flexer {
  @extend %flex-between;
  background-color: $my-background;
  ul {
    @extend %flex-evenly;
    list-style: none;
    color: $my-text;
  }
  ul a {
    color: #fff;
    padding: 10px 20px;
    line-height: 160%;
  }
  a:hover {
    color: $my-blue;
  }
}
