@import "variables";

.home-box {
}

.home-flex {
  background-image: url("../../assets/homesplash.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1500px auto;
  display: flex;
  justify-content: space-between;
  height: 520px;
}

.home-login {
  background: $my-background;
  color: $my-text;
}

.descriptor {
  background: rgba(58, 58, 58, 0.5);
  color: $my-text;
  width: 400px;
  height: 250px;
  padding: 5px;
  margin: 100px 20px;
  h2 {
    padding-left: 8px;
    font-family: "Montserrat", sans-serif;
  }
  p {
    padding-left: 8px;
    line-height: 1.5;
  }
}

.section-two {
  h2 {
    padding-top: 20px;
    text-align: center;
  }
}

.cityscape {
  display: block;
  width: 1500px;
  margin: 0 auto;
  overflow: hidden;
}

.cityscape-flex {
  display: flex;
  justify-content: space-evenly;
  div {
    padding: 40px;
  }
}

.cityscape-descriptor {
  width: 60%;
}

.linx {
  background: $my-background;
  h2 {
    text-align: center;
    color: $my-text;
    padding-top: 20px;
  }
  p {
    text-align: center;
    color: $my-text;
  }
}

.linx-flex {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  div {
    width: 25%;
    border: $grid-border;
    background: $light-background;
    text-align: center;
  }
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.space-station,
.illithid-alien,
.mercenaries {
  position: relative;
  height: 480px;
  p {
    position: absolute;
    left: 25%;
    bottom: 10px;
  }
}
