@import "variables";

.descriptor {
  padding: 20px 80px;
}

.home-flex {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  div {
    width: 42%;
    padding: 100px 0px;
    border: $grid-border;
    background: $light-background;
    text-align: center;
  }
}
