@import "variables";

.home-flex {
  background-image: url("../../assets/homesplash.png");
  background-size: 1500px auto;
  @extend %background-setter;
  @extend %flex-between;
  height: 520px;
}

.home-login {
  background: $my-background;
  color: $my-text;
}

.descriptor {
  background: rgba(58, 58, 58, 0.5);
  color: $my-text;
  width: 400px;
  height: 250px;
  padding: 5px;
  margin: 100px 20px;
  h2 {
    padding-left: 8px;
    font-family: "Montserrat", sans-serif;
  }
  p {
    padding-left: 8px;
    line-height: 1.5;
  }
}

.section-two {
  h2 {
    padding-top: 20px;
    text-align: center;
  }
}

.cityscape {
  display: block;
  width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

.cityscape-flex {
  @extend %flex-evenly;
  div {
    padding: 40px;
  }
}

.cityscape-descriptor {
  width: 60%;
}

.linx {
  background: $my-background;
  color: $my-text;
  text-align: center;
  padding-bottom: 20px;
  h2 {
    padding-top: 20px;
  }
}

.linx-flex {
  @extend %flex-evenly;
  margin-bottom: 30px;
  div {
    width: 25%;
    background: $light-background;
    border: $grid-border;
    text-align: center;
  }
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.sci-fi-armory,
.arthrotera-alien,
.mercenaries {
  position: relative;
  height: 480px;
  width: 320px !important;
  p {
    background: rgba(58, 58, 58, 0.5);
    color: $my-text;
    width: 320px;
    height: 80px;
    position: absolute;
    bottom: -18px;
    font-size: 18px;
    line-height: 80px;
  }
}

.lore-blurb {
  background-image: url("../../assets/spaceshiptakeoff.jpg");
  background-size: 1300px auto;
  @extend %background-setter;
  color: #fff;
  height: 500px;
  width: auto;
  padding: 60px 30px;
  h2 {
    margin: 0 auto;
  }
  p {
    line-height: 1.5;
    width: 50%;
  }
}

.home-footer {
  background: $my-background;
  color: $my-text;
  padding: 20px 0;
  text-align: center;
  p {
    margin: 0 auto;
  }
}
