@import "variables";

.weapon-splash {
  display: block;
  max-height: 250px;
  min-height: 175px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.weaponGeneratorFlexTop {
  @extend %grid-builder;
  div {
    @extend %grid-div-builder;
  }
}

.weaponGeneratorFlexBottom {
  @extend %grid-builder;
  div {
    @extend %grid-div-builder;
    line-height: 2;
  }
}

#weaponName {
  width: 20%;
}

#weaponOther {
  line-height: normal;
  text-align: left;
  padding: 0 5px;
  width: 32%;
}

#weaponOtherBox {
  line-height: 1.5;
  text-align: left;
  padding: 0 5px;
  width: 32%;
}
