@import "variables";

.weaponGeneratorFlexTop {
  @extend %grid-builder;
  div {
    @extend %grid-div-builder;
  }
}

.weaponGeneratorFlexBottom {
  @extend %grid-builder;
  div {
    @extend %grid-div-builder;
  }
}

#weaponName {
  width: 20%;
}

#weaponOther {
  text-align: left;
  padding: 0px 5px;
  width: 30%;
}
